<!DOCTYPE HTML>
<html>

	<head>
    	<meta charset="UTF-8">
    	<title>Todo List</title>

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.mod.css"/>

	</head>

	<body>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="main-elem" id="list-items"></div>
                <div class="main-elem" id="add-field"></div>
            </div>
            <div class="panel-footer">&copy; Matthew Pfister</div>
        </div>

        <!-- Templates -->  
        <script type="text/template" id="tmpl-list">
            <label class="task-title"> <%= content %> </label>
            <input class="hidden" type="text" placeholder="What should this task be?" />
        </script>

        <script type="text/template" id="tmpl-list-body">
            <label class="list-title"> <%= titleName %> </label>
        </script>

        <script type="text/template" id="tmpl-form">
            <input id="<%= textFieldID %>" class="form-control" type="text" name="<%= textFieldName %>" placeholder="<%= textFieldHint %>" />
            <a id="<%= buttonID %>" class="list-group-item col-md-4" href="<%= buttonURL %>"><%= buttonText %></a>
        </script>

        <!-- Scripts -->
        <!--<script data-main="assets/js/main.js" src="assets/js/lib/require.js"></script>-->
        <script type="text/javascript" src="assets/js/lib/jquery.js"></script>
        <script type="text/javascript" src="assets/js/lib/underscore.js"></script>
        <script type="text/javascript" src="assets/js/lib/backbone.js"></script>
        <script type="text/javascript" src="assets/js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/app/models.js"></script>
        <script type="text/javascript" src="assets/js/app/routers.js"></script>
        <script type="text/javascript" src="assets/js/app/views.js"></script>
        <script type="text/javascript" src="assets/js/app/collections.js"></script>
        <script type="text/javascript">
            var main_router = new TodoRouter(); 
            Backbone.history.start();
        </script>

	</body>
</html>